language: ruby

sudo: false

rvm:
  - "2.0"
  - "2.1.10"
  - "2.2.7"
  - "2.3.4"
  - "2.4.1"
  - "jruby-9.0.4.0"

script: rake test

cache: bundler

addons:
  apt:
    packages:
      - imagemagick
      - libmagickcore-dev
      - libmagickwand-dev
      - graphicsmagick
